/* TODO: Add theming stuff for panels here */

/* TODO: have border width scale somehow? */
.panel {
  --panel-border-width: 8px;
  /* height: 64px; */
  border-style: solid;
  border-width: var(--panel-border-width);
  border-image-slice: 8 fill;
  border-image-repeat: repeat;
  border-image-outset: 0;
  border-image-source: url("../img/tile-slate.png");
  position: relative;
}

/* Adds a gradient to panels; this is really close, minus the step function in the SNES version */
.panel:before {
  content: "";
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
  position: absolute;
  top: calc(-1 * var(--panel-border-width));
  right: calc(-1 * var(--panel-border-width));
  bottom: calc(-1 * var(--panel-border-width));
  left: calc(-1 * var(--panel-border-width));
  z-index: 0;
}

.panel.distributed {
  display: flex;
  justify-content: space-between;
}

.panel.distributed.vertically {
  flex-direction: column;
}

.panel > * {
  z-index: 1;
}
