.toaster.show,
.toaster.hide {
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  /* -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out; */
  transition: max-height 0.5s ease-in-out, visibility 0.5s linear,
    opacity 0.5s ease-in-out;
}

.toaster.show {
  visibility: visible;
  max-height: 100%;
  opacity: 1;
}
