* {
  image-rendering: pixelated;
  -webkit-font-smoothing: none;
  box-sizing: border-box;
}

body {
  margin: 0;
}

#container {
  background: url("../img/bg.png");
  background-size: 200px;
  /* background: url("../img/example-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  font-family: "Chrono Trigger Proportional Regular";
  font-size: 2em;
  --panel-border-width: 24px;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  position: relative;
  animation: background 60s linear infinite;
  image-rendering: auto;
  --ct-shadow: #182028;
  --ct-gray: #889090;
  --ct-white: #f8f8f8;
  text-shadow: 0px 2px var(--ct-shadow), 2px 0px var(--ct-shadow);
  color: var(--ct-white);
}

@keyframes background {
  25% {
    background-position: 200px 200px;
  }
  50% {
    background-position: 400px 0px;
  }
  75% {
    background-position: 200px -200px;
  }
  100% {
    background-position: 0 0;
  }
}
